<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IHelloWorldService">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://127.0.0.1:5050/WcfService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IHelloWorldService"
                contract="eSocialSoapService.IHelloWorldService" name="BasicHttpBinding_IHelloWorldService" />
        </client>
    </system.serviceModel>
</configuration>